<html>

<head>
</head>

<body>
  <h1>GOROKU</h1>


<form action="form" method="POST">
  <div>
    word:<input type="text" name="word" value="">
  </div>
  <div>
    <input type="submit" value="search">
  </div>
</form>

<a href="https://www.pixiv.net/novel/show.php?id=792473">原作</a>

<div class="result-zone">
  <% @results.each do |id, context| %>
    <!-- context block consist of some section  -->
    <div class"context">
      <br><br>
      <%= "chap#{context[2].chap}, line#{context[2].line}" %> <br>

      <% context.each do |section| %>
        <% if section.id == id %>
          <%= "<u>#{section.line}: #{section.section}</u>" %>
        <% else %>
          <%= "#{section.line}: #{section.section}" %>
        <% end %>
        <br>
      <% end %>
      <hr>
    </div>
  <% end %>
</div>

</body>

</html>


